.content {
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    max-width: $contentMaxWidth;
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin: auto;

    h2 {
      margin-top: 4rem;
      margin-bottom: 1rem;
      position: relative;
      z-index: 10;
    }
    .image {
      position: relative;
      z-index: 10;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    p {
      position: relative;
      z-index: 10;
    }
  }

  &-container {
    width: 100%;
    max-width: $contentMaxWidth;
    margin: 0 auto;
  }

  &__list {
    li {
      margin-bottom: 0.5rem;
    }
  }

  &__heading {
  }

  &__paragraph {
  }
}