$offWhite: #fdfcfd;
$darkGrey: #5a5a5a;

@mixin lineHeight {
  line-height: 1.5rem;
}

html {
  font-size: 16px;
}

body {
  background-color: $offWhite;
  color: $darkGrey;
  font-family: Roboto, serif;
}

.aria-hidden {
  position: absolute;
  left: -1200px;
}

.list {
  li {
    margin-bottom: 0.5rem;
    @include lineHeight;
  }
}