$sideMargin: 8vw;
$globalFontFamily: Raleway, sans-serif;

html {
  scroll-behavior: smooth;

  @media screen and (min-width: $mediumScreen) {
    font-size: 18px;
  }

  @media screen and (min-width: $xxlScreen) {
    font-size: 20px;
  }

}

body {
  margin: 0;
  font-family: $globalFontFamily;
  overflow-x: hidden;
}

.content-container {
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0 auto;
}

.side-margin {
  margin-left: $sideMargin;
  margin-right: $sideMargin;
}

.side-padding {
  padding-left: $sideMargin;
  padding-right: $sideMargin;
}

.aria-hidden {
  position: absolute;
  left: -1200px;
}

.list {
  li {
  }
}

time {
}

p {
  color: $darkBlue;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}