$headerColor: #FFFFFF;
$navItemColors: $oceanDeepBlue;
$activeNavColor: $deepCherry;

.header {
  display: flex;
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0 auto;
  transition: 0.4s;

  @media screen and (min-width: $smallScreen) {
    margin-left: 8vw;
    margin-right: 8vw;
  }

  &__logo {
    height: auto;
    width: 3.5rem;
    position: relative;
    top: 1.7rem;

    &--o08 {
      opacity: 0.08;
    }

    &--o3 {
      opacity: 0.3;
    }
  }

  &-container {
    padding: 0 8px;
    height: $headerHeight;
    background-color: $headerColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  margin-left: auto;
  padding-top: 1rem;

  display: flex;

  &__item {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    text-decoration: none;

    color: $navItemColors;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.2rem;
    opacity: 1;

    &.active {
      color: $activeNavColor;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    height: auto;
    width: 0.9rem;
    margin-right: 0.25rem;

    .svg--bg-color {
      fill: $headerColor;
    }

    .svg-fill--foreground-color {
      fill: $navItemColors;
    }
    .svg-stroke--foreground-color {
      stroke: $navItemColors;
    }

  }
}
.logo-container {
  text-decoration: none;

}