$headerColor: #FFFFFF;
$navItemColors: $oceanDeepBlue;
$activeNavColor: $deepCherry;

.header {
  display: flex;
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0 auto;

  &__logo {
    height: auto;
    width: 3.5rem;
    opacity: 0.08;
  }

  &-container {
    padding: 0 8px;
    height: $headerHeight;
    background-color: $headerColor;
    display: flex;
    align-items: center;
  }
}

.nav {
  margin-left: auto;
  padding-top: 1rem;

  display: flex;
  width: 30rem;

  &__item {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    text-decoration: none;

    color: $navItemColors;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.2rem;
    opacity: 1;

    &.active {
      color: $activeNavColor;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    height: auto;
    width: 0.9rem;
    margin-right: 0.25rem;

    .svg--bg-color {
      fill: $headerColor;
    }

    .svg-fill--foreground-color {
      fill: $navItemColors;
    }
    .svg-stroke--foreground-color {
      stroke: $navItemColors;
    }

  }
}
.logo-container {
  text-decoration: none;

}
.brand {
  color: $darkBlue;

  &-container {
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: column;
    height: 3rem;
  }

  &__upper {
    font-family: "Tangerine", "Segoe Script", cursive;
    font-size: 2.1rem;
    font-weight: bold;
  }
  &__lower {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    position: relative;
    top: -0.7rem;
  }
}