$headerColor: #8ecae6;
$navItemColors: #023047;

.header {
  display: flex;
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0 auto;

  &__logo {
    height: 3rem;
    width: 3rem;
  }

  &-container {
    height: 6rem;
    background-color: $headerColor;
    display: flex;
    align-items: center;
  }
}

.nav {
  padding-left: 4rem;
  margin-left: auto;

  display: flex;
  justify-content: space-between;

  width: 35rem;
  @media screen and (max-width: 600px) {
    width: 20rem;
  }

  &__item {
    display: flex;
    align-items: center;

    //color: #121212;
    color: $navItemColors;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.5rem;
    opacity: 0.85;

    .aria-link {
      @media screen and (max-width: 600px) {
        position: absolute;
        left: -1000px;
      }
    }
    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    height: auto;
    width: 1.2rem;
    margin-right: 0.25rem;

    .svg--bg-color {
      fill: $headerColor;
    }

    .svg-fill--foreground-color {
      fill: $navItemColors;
    }
    .svg-stroke--foreground-color {
      stroke: $navItemColors;
    }


    @media screen and (max-width: 600px) {
      transition: 0.5s;
      width: 2rem
    }
  }
}