// Colors
$offWhite: #fdfcfd;
$darkGrey: #5a5a5a;

$marginHorizontal: 2rem;

$contentMaxWidth: 55rem;

@import "global";
@import "header";
@import "heading";
@import "profile";
@import "intro";
@import "content";
