// Colors
$offWhite: #fdfcfd;
$darkGrey: #5a5a5a;
$offBlack: #222222;

/*
 * Color schema
 * Fetched from https://coolors.co/ef476f-ffd166-06d6a0-118ab2-073b4c
 */
$cherry: #EF476F;
$whiteCherry: #FFF8F9;
$deepCherry: #de2350;
$orange: #FFD166;
$mintGreen: #06D6A0;
$closeWhiteBlue: #f3fcff;
$lightBlue: #E6F3F7;
$oceanBlue: #118AB2;
$oceanDeepBlue: #0e7496;
$midBlue: #0f7b9f;
$darkBlue: #073b4c;
$glumGrey: #EFF2F3;

// UI colors
$textMainColor: $darkGrey;
$headingsColor: $deepCherry;
$descriptionBoxColor: $midBlue;
$boxShadowColor: rgba(100,100,100,0.2);

// Heights
$headerHeight: 4rem;

// Widths
$marginHorizontal: 2rem;
$contentMaxWidth: 77rem;

// Media break-points
$smallScreen: 645px;
$mediumScreen: 800px;
$largeScreen: 1000px;
$xlScreen: 1300px;

@import "global";
@import "header";
@import "footer";
@import "heading";
@import "profile";
@import "intro";
@import "content";
@import "sidebar";
@import "bg";
@import "margins";
@import "paddings";
@import "brand";
@import "columns";
@import "button";

// Frontpage
@import "front";
@import "case";
@import "feature";
@import "contact";
